In [60]:
import requests
from bs4 import BeautifulSoup
import requests
import pandas as pd
import json
print('import Ok')

import Ok

In [2]:
site="https://www.listchallenges.com/completely-random-movie-list"

In [4]:
response = requests.get(site).text
challenges_html = BeautifulSoup(response, "lxml")

In [7]:
base=challenges_html.select('div.checklist-itemsSectionLeft')

In [12]:
#challenges_html.select('div.item-name')

In [67]:
def get_title(html):
    return [
        l.get_text(strip=True).split('(')[0]
        for l in html.select('div.item-name')
    ]

In [70]:
df=({'Titre':get_title(challenges_html)})

In [69]:
df.head()

                 Titre
0          Detachment
1   Horrible Bosses 2
2  Death of a Salesman
3        Intermission
4         October Sky

In [31]:
df.values

array([['Detachment '],
       ['Horrible Bosses 2 '],
       ['Death of a Salesman'],
       ['Intermission '],
       ['October Sky '],
       ['Blackfish '],
       ['Hotel Transylvania '],
       ['Moon '],
       ['Les Choristes'],
       ['Interstellar '],
       ['The Strangers '],
       ['The Godfather '],
       ['Pulp Fiction '],
       ['The Fault in Our Stars '],
       ["Ferris Bueller's Day Off "],
       ['Primal Fear '],
       ['American Beauty '],
       ['Crash '],
       ['Chronicle '],
       ['The Spiderwick Chronicles '],
       ['Andre '],
       ['Edge of Tomorrow '],
       ['127 Hours '],
       ['Dawn of the Planet of the Apes '],
       ['Nurse Betty '],
       ["Bridget Jones's Diary "],
       ['Turbo '],
       ["Ocean's Eleven "],
       ['Sliding Doors '],
       ['Pleasantville '],
       ['Jurassic Park '],
       ['The Mummy '],
       ['The Fantastic Four'],
       ['Spider-Man '],
       ['Spider-Man 2 '],
       ['The Day After Tomorrow '],
       ['I, Robot '],
       ['Mr. & Mrs. Smith '],
       ['Iron Man '],
       ['Spider-Man 3 ']], dtype=object)

In [86]:
data={
    'film':json.dumps(df)
}

requests.post('http://127.0.0.1:5000/get_info_film',data=data)

'{"Titre": ["Detachment ", "Horrible Bosses 2 ", "Death of a Salesman", "Intermission ", "October Sky ", "Blackfish ", "Hotel Transylvania ", "Moon ", "Les Choristes", "Interstellar ", "The Strangers ", "The Godfather ", "Pulp Fiction ", "The Fault in Our Stars ", "Ferris Bueller\'s Day Off ", "Primal Fear ", "American Beauty ", "Crash ", "Chronicle ", "The Spiderwick Chronicles ", "Andre ", "Edge of Tomorrow ", "127 Hours ", "Dawn of the Planet of the Apes ", "Nurse Betty ", "Bridget Jones\'s Diary ", "Turbo ", "Ocean\'s Eleven ", "Sliding Doors ", "Pleasantville ", "Jurassic Park ", "The Mummy ", "The Fantastic Four", "Spider-Man ", "Spider-Man 2 ", "The Day After Tomorrow ", "I, Robot ", "Mr. & Mrs. Smith ", "Iron Man ", "Spider-Man 3 "]}'

In [33]:
api='http://www.omdbapi.com/?t='
key='&apikey=952090a1'
info = requests.get("{}{}{}".format(api, '', key)).json()

In [56]:
film_liste = [
    requests.get("http://www.omdbapi.com/?t={}&apikey=952090a1".format(l)).json()
    for l in df.values
]

In [57]:
len(film_liste)

40

In [58]:
film_liste[0]

{'Title': 'Detachment',
 'Year': '2011',
 'Rated': 'Not Rated',
 'Released': '01 Feb 2012',
 'Runtime': '98 min',
 'Genre': 'Drama',
 'Director': 'Tony Kaye',
 'Writer': 'Carl Lund',
 'Actors': 'Adrien Brody, Marcia Gay Harden, James Caan, Christina Hendricks',
 'Plot': 'A substitute teacher who drifts from classroom to classroom finds a connection to the students and teachers during his latest assignment.',
 'Language': 'English',
 'Country': 'USA',
 'Awards': '8 wins & 6 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTM3NzQzMDA5Ml5BMl5BanBnXkFtZTcwODA5NTcyNw@@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.7/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '57%'},
  {'Source': 'Metacritic', 'Value': '52/100'}],
 'Metascore': '52',
 'imdbRating': '7.7',
 'imdbVotes': '69,799',
 'imdbID': 'tt1683526',
 'Type': 'movie',
 'DVD': '18 Sep 2012',
 'BoxOffice': '$48,868',
 'Production': 'Tribeca Films',
 'Website': 'http://www.detachment-film.com',
 'Response': 'True'}